
body {
  background-color: black;
  font-family: 'Sixtyfour', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.clock {
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.separator {
  margin: 0 0.2em;
}

.location, .city {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #555;
}
